<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row">
            <div class="col-sm-2 offset-sm-2 p-xs-4 my-3">
                <a href="/listings" class="btn btn-dark mb-3 d-inline"><i class="fa-solid fa-arrow-left-long col-8">&nbsp;Back</i></a>
            </div>
            <div class="col-sm-8 offset-sm-2 px-xs-10">
                <div class="card-body">
                    <h4 class="card-text text-bold mb-3">
                        <%= listing.title %>
                    </h4>
                </div>
                <div class="card show-card">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_img">
                </div>

                <p><b>Posted By: </b>
                    <%= listing.owner.username.charAt(0).toUpperCase()+listing.owner.username.slice(1) %>
                </p>
                <p><b>Description : </b>
                    <%=listing.description %>
                </p>
                <p>Price : <%= listing.price %>
                </p>
                <p>Location : <%= listing.location %>
                </p>
                <p>Country : <%= listing.country %>
                </p>
                <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
                    <div class="btns gap-4">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-success">Edit</a>
                        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <%}%>
                        <%if(!currUser) {%>
                            <div class="alert alert-warning" role="alert">
                                You must be logged in to leave a review.
                                <a href="/login" class="alert-link">Login</a>
                            </div>
                            <%}%>
                                <% if(currUser) {%>
                                    <hr>
                                    <div class="row">
                                        <form class="needs-validation" action="/listings/<%= listing._id %>/reviews"
                                            method="POST" novalidate>
                                            <h4 class="fw-bolder">Leave a Review</h4>
                                            <fieldset class="starability-growRotate">
                                                <h5 class="fw-bolder">Rating:</h5>
                                                <input type="radio" id="no-rate" class="input-no-rate"
                                                    name="review[rating]" value="1" checked aria-label="No rating." />
                                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                                <label for="first-rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                                <label for="first-rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                                <label for="first-rate3" title="Average">3 stars</label>
                                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                                <label for="first-rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                                <label for="first-rate5" title="Amazing">5 stars</label>
                                            </fieldset><br>
                                            <div class="comment">
                                                <label for="comment" class="form-label">Comment</label>
                                                <textarea type="text" name="review[comment]" id="comment"
                                                    class="form-control" placeholder="Enter your comment" rows="4"
                                                    required></textarea>
                                                <div class="invalid-feedback">Please add some comment for review</div>
                                            </div>
                                            <button class="my-4 btn btn-dark">Submit</button>
                                        </form>
                                    </div>
                                    <%}%>

                                        <hr>
                                        <h4>All Reviews</h4>
                                        <div class="reviews">
                                            <div class="row">
                                                <% if(listing.reviews.length===0) {%>
                                                    <p class="text-muted">No reviews yet.</p>
                                                    <%} else {%>
                                                        <% for(review of listing.reviews){ %>
                                                            <div class="card mb-3 px-2 py-1 col-6 mr-2">
                                                                <div class="card-body">
                                                                    <h5 class="card-title fs-6">
                                                                        @<%= review.author.username %>
                                                                    </h5>
                                                                    <h6
                                                                        class="card-subtitle mb-2 text-body-secondary fs-6">
                                                                        <%= review.createdAt.toLocaleString() %>
                                                                    </h6>

                                                            
                                                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                                                        Rated: <%= review.rating %> stars
                                                                    </p>
                                                                    <p class="card-text mb-1">
                                                                        <%= review.comment %>
                                                                    </p>
                                                                    <form
                                                                        action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE"
                                                                        method="POST">
                                                                        <button
                                                                            class="btn btn-dark px-1 py-0 mt-0">Delete</button>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                            <%} %>
                                                                <% } %>
                                            </div>

                                        </div>
            </div>
        </div>
    </body>